body {
  font-family: "Victor Mono Light", "Courier New", monospace;
}

.main {
  align-items: center;
  text-align: center;
  /* background-color: aqua; */
}
#butts {
  height: 50px;
  width: 100%;
}
#charts {
  /* height: 100%; */
  align-items: center;
  text-align: center;
  margin: auto;
}
#canvas {
  display: inline;
}
